@font-face {
  font-family: 'TS';
  src: url(https://fontmeme.com/fuentes/fuente-agent-orange/#google_vignette) format('truetype');
}

body {
  background-color: #87CEEB;
}

h1 {
    font-family: TS, Arial;
  text-align: center;
}

p {
  font-weight: normal;
  text-align: center;
}

.imagen-centrada {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
}
